* {margin:0;padding:0;}

/* New page design */

.mainnew
{
color:white;
font-family:"Tahoma", "Verdana", "Arial", sans-serif;
}

.generatebutton
{
width: 287px;
height: 55px;
}

.tweeticon
{
width: 132px;
height: 30px;
}

.tweetbutton
{
width: 199px;
height: 28px;
}

.backbutton
{
width: 80px;
height: 37px;
}

.centerimage
{
display: block;
margin-left: auto;
margin-right: auto;
}

#androidlink {
	font-family:"Tahoma", "Verdana", "Arial", sans-serif;
}

#footernew {
    position: relative;
    margin-top: -46px;
    height: 35px;
    clear:both;
    border-top: 1px solid #000;
    color:white;
    padding: 10px 10px 0 10px;
    font-size: 16px;
    font-family:"Tahoma", "Verdana", "Arial", sans-serif;
}

#footernew #footer-left {
    float: left;
    text-align: left;
}

#footernew #footer-right {
    float: right;
    text-align: right;
}

/* End new page design */

.main
{
color:red;
font-family:"Tahoma", "Verdana", "Arial", sans-serif;
}

.center
{
text-align:center;
}

.headline
{
color:dodgerblue;
font-weight:bold;
}

.size1
{
margin-top:32px;
font-size:64px;
margin-bottom:32px;
}

.size2
{
font-size:48px;
}

.size3
{
font-size:32px;
}

.size4
{
font-size:24px;
}

.size5
{
font-size:16px;
}

.size6
{
font-size:8px;
}

.size7
{
font-size:4px;
}

html, body {
    height: 100%;
    width: 100%;
    background-color:black;
    color:white;
}

h1 {
    padding: 0.3em 0 0.3em 0;
}

#pagetitle {
    padding: 10px 0 0 10px;
}

#wrap {
    min-height: 100%;
    min-width: 100%;
}

#container {
    overflow:auto;
    padding-bottom: 46px;
}

#video_game_name0 {
    min-height: 160px;
}

#footer {
    position: relative;
    margin-top: -46px;
    height: 35px;
    clear:both;
    border-top: 1px solid #000;
    color:red;
    padding: 10px 10px 0 10px;
    font-size: 16px;
    font-family:"Tahoma", "Verdana", "Arial", sans-serif;
}

#footer #footer-left {
    float: left;
    text-align: left;
}

#footer #footer-right {
    float: right;
    text-align: right;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

a:link {
    color:dodgerblue;
}


.button {
    text-align:center;
    color: black;
    font-size: 30px;
    background-color:grey;
    margin-left:auto;  /* for centering */
    margin-right:auto;  /* for centering */
    padding-top: 40px;
    width: 578px;
    padding: 10px;
    border:1px solid #DDD;
       
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}

.button:hover {
    background-color:#DDD
}

